.tdImg {
    width: 5vw;
}

.imgContainer {
    /* width: 25vw;
    height: 7vw; */
    overflow: hidden;
    border-radius: 5px;
}

img {
    width: 25vw;
    object-fit: cover;
}

.container {
    width: 60%;
}


.btn-back {
    background-color: #4848ffd3;
    color: white;
}

.btn-back:hover {
    background-color: #7d7dfd;
}

.bg-detail {
    background-color: #eeeaea;
    border-radius: 10px;
    /* box-shadow: 0px 6px 12px 0px #f5ecec; */
    padding: 0 3% 3% 3%;

}