<xng-breadcrumb [separator]="iconTemplate"></xng-breadcrumb>
<ng-template #iconTemplate>
    <i class="fa-solid fa-chevron-right fa-sm"></i>
</ng-template>

<div class="container bg-light mt-4">
    <div class=" d-flex justify-content-center align-items-center p-5 ">
        <div class="tdImg w-50 ">
            <div class="col-12 imgContainer ms-3 bg-image hover-overlay ripple " data-mdb-ripple-color="light">
                <img src="{{supplier.logo}}" class="img-fluid" (error)="defaultImage($event)" />
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center ">
        <section class="col-6 ps-5">
            <div class="mt-3">
                <p class="lead"><strong>Empresa: </strong>{{supplier.business_name}}</p>
                <p class="lead"><strong>Código: #</strong> {{supplier.code}}</p>
            </div>
            <div class="mt-3">
                <!-- <p class="lead"><strong>Datos fiscales:</strong></p> -->
                <p class="lead "><strong>CUIT:</strong> {{ supplier.cuit }}</p>
                <p class="lead"><strong>Condición IVA:</strong> {{
                    supplier.iva_name }}</p>
                <p class="lead"><strong>Categoría: </strong>{{ supplier.field_name }}</p>
            </div>
            <div class="mt-3">
                <!-- <h5 class="">Contacto:</h5> -->
                <p class="lead "><strong>Website:</strong> {{ supplier.website }}</p>
                <p class="lead "><strong>Tél:</strong> {{ supplier.phone_number }}</p>
                <p class="lead "><strong>Correo:</strong> {{ supplier.email }}</p>
            </div>

        </section>
        <section class="col-6 ps-5">
            <div class="mt-3">
                <div class="d-flex ">
                    <p class="lead me-4"><Strong>Dirección: </Strong>{{ supplier.address.street }}</p>
                    <p class="lead"><strong>Altura: </strong>{{ supplier.address.num }}</p>
                </div>
                <div class="d-flex">
                    <p class="lead me-4"><strong>Ciudad: </strong>{{ supplier.address.city }}</p>
                    <p class="lead"><strong>CP: </strong>{{ supplier.address.postal_code }}</p>
                </div>
                <div class="d-flex">
                    <p class="lead me-4"><strong>Provincia: </strong>{{ supplier.address.province_name }}</p>
                    <p class="lead"><strong>País: </strong>{{ supplier.address.country_name }}</p>
                </div>
            </div>
            <div class="">
                <p class="lead"><strong>Persona de contacto: </strong></p>
                <p class="lead"><strong>Nombre y apellido:</strong> {{ supplier.contact.contact_name }} {{
                    supplier.contact.contact_lastname }}</p>
                <p class="lead"><strong>Rol: </strong> {{ supplier.contact.position}}</p>
                <p class="lead"><strong>Vías de contacto: </strong> {{ supplier.contact.phone_number}} |
                    {{ supplier.contact.email}}</p>
            </div>
        </section>
    </div>
</div>
<div class="container mt-4 d-flex align-items-center">
    <button class="btn btn-back" (click)="goBack()">Volver</button>
</div>