<div class="container mt-5 w-100 ">

    <section class="w-100 ">
        <div class="m-3 mt-5 d-flex justify-content-between ">
            <h4 class="h4">Productos</h4>
            <button class="btn text-center bg-success btn-sm text-white" routerLink="/form-product">Agregar<i
                    class="fa-solid fa-plus fa-xs"></i></button>
        </div>

        <table class="table mt-3">
            <thead class="">
                <tr>
                    <th scope="col">Img</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Precio</th>
                    <th scope="col">ACCIONES</th>
                </tr>
            </thead>
            <tbody *ngFor="let product of productList" id="product-table-container" class="align-middle">
                <td class="tdImg">
                    <div class="imgContainer">
                        <img src="{{product.image}}" (error)="cambiarImagen($event)">
                    </div>
                </td>
                <td scope="row" class="border-bottom">{{ product.name }}</td>
                <td class="border-bottom py-2">{{ product.category.name }}</td>
                <td class="border-bottom py-2">{{ product.supplier.business_name }}</td>
                <td class="border-bottom py-2">{{ product.price | currency: '$'}}</td>
                <td class="border-bottom py-2">
                    <button class="btn bg-success text-white btn-sm me-2" id="edit-button{{ product.id }}" routerLink="/form-product/{{product.id}}"><i class="fa-regular fa-pen-to-square fa-sm"></i></button>
                    <button class="btn bg-danger  text-white btn-sm me-2" (click)="delete(product)"><i class="fa-regular fa-trash-can fa-sm"></i></button>
                    <button class="btn btn-light btn-sm text-dark" routerLink="/detail-product/{{product.id}}"><i class="fa-solid fa-eye fa-xs"></i></button>
                </td>
            </tbody>
        </table>

    </section>
</div>