<form #formProduct="ngForm" (ngSubmit)="save(formProduct)" class="form-control container w-75 border "
    id="product-form" action="">

    <div class="container">
        <h3 class="h3 fw-medium  text-secondary p-2">Cargar producto</h3>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="imagen" class="form-label">URL imagen:</label>
                        <input type="url" class="form-control" id="imagen" name="image"
                            placeholder="Ingrese URL de la imagen" [(ngModel)]="product.image">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="supplier" class="form-label">Proveedor:</label>
                        <select id="supplier" name="supplier_id" class="form-select" required
                            [(ngModel)]="product.supplier.id">
                            <option value="-1" disabled selected>Seleccionar proveedor</option>
                            <option *ngFor="let supplier of suppliers" [value]="supplier.id">{{ supplier.businessName
                                }}</option>
                        </select>
                        <div *ngIf="formProduct.controls['supplier_id']?.invalid && (formProduct.controls['supplier_id']?.dirty || formProduct.controls['supplier_id']?.touched)"
                            class="text-danger">
                            <small *ngIf="formProduct.controls['supplier_id']?.errors?.['required']">Este campo es
                                obligatorio.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="name-input" class="form-label">Nombre:</label>
                        <input type="text" name="name" class="form-control" id="name-input" placeholder="Nombre"
                            required minlength="4" [(ngModel)]="product.name">
                        <div *ngIf="formProduct.controls['name']?.invalid && (formProduct.controls['name']?.dirty || formProduct.controls['name']?.touched)"
                            class="text-danger">
                            <small *ngIf="formProduct.controls['name']?.errors?.['required']">Este campo es
                                obligatorio.</small>
                            <small *ngIf="formProduct.controls['name']?.errors?.['minlength']">El nombre debe tener al
                                menos 4 caracteres.</small>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="sku-input" class="form-label">SKU:</label>
                        <input type="text" name="sku" class="form-control" id="sku-input" placeholder="Sku"
                            minlength="3" required [(ngModel)]="product.sku" />
                        <div *ngIf="formProduct.controls['sku']?.invalid && (formProduct.controls['sku']?.dirty || formProduct.controls['sku']?.touched)"
                            class="text-danger">
                            <small *ngIf="formProduct.controls['sku']?.errors?.['required']">Este campo es
                                obligatorio.</small>
                            <small *ngIf="formProduct.controls['sku']?.errors?.['minlength']">El sku debe tener al menos
                                3 caracteres.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">


            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="category-input" class="form-label">Categoría:</label>
                        <select id="category-input" name="category_id" class="form-select" required
                            [(ngModel)]="product.category.id">
                            <option value="-1" disabled selected>Seleccione una Categoría:</option>
                            <option *ngFor="let category of categoryList" [ngValue]="category.id">{{category.name}}
                            </option>
                        </select>
                        <div *ngIf="formProduct.controls['category_id']?.invalid && (formProduct.controls['category_id']?.dirty || formProduct.controls['category_id']?.touched)"
                            class="text-danger">
                            <small *ngIf="formProduct.controls['category_id']?.errors?.['required']">Este campo es
                                obligatorio.</small>
                        </div>
                    </div>
                    <!-- Input para agregar una nueva categoría -->
                    <label for="new-category" class="form-label" >¿Agregar nueva categoría?</label>
                    <input type="text" class="form-control mb-3" id="new-category" placeholder="Nueva categoría"
                        [(ngModel)]="category.name" name="category" >

                    <!-- Botón para agregar una nueva categoría -->
                    <button type="button" class="btn btn-success    btn-sm  mb-3" (click)="addCategory()">Agregar Categoría</button>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="price-input" class="form-label">Precio:</label>
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            <input type="number" name="price" class="form-control" id="price-input" placeholder="ej: 2850.25"
                                min="1" [(ngModel)]="product.price">
                        </div>
                        <div *ngIf="formProduct.controls['price']?.invalid && (formProduct.controls['price']?.dirty || formProduct.controls['price']?.touched)"
                            class="text-danger">
                            <small *ngIf="formProduct.controls['price']?.errors?.['required']">Este campo es
                                obligatorio.</small>
                            <small *ngIf="formProduct.controls['price']?.hasError('min')">Precio debe ser mayor a
                                0.</small>
                        </div>
                    </div>
                </div>
            </div>



            <div class="mb-3">
                <label for="description-input" class="form-label">Descripción:</label>
                <textarea class="form-control" name="description" id="description-input"
                    placeholder="Ingrese su texto..." rows="5" maxlength="255" [(ngModel)]="product.description"></textarea>
                    <div *ngIf="formProduct.controls['description']?.invalid && (formProduct.controls['description']?.dirty || formProduct.controls['description']?.touched)"
                    class="text-danger">
                    <div class="text-danger" *ngIf="product.description.length > 255">
                        La descripción no debe exceder los 255 caracteres.
                    </div>
                </div>
            </div>
            
            

            <div class="col-12 d-flex  justify-content-center mb-3 py-3 ">
                <button [disabled]=" !formProduct.valid" type="submit"
                    class="button-add btn btn-sm me-4 text-white">Guardar</button>
                <button type="button" (click)="formProduct.reset()" routerLink="/product-list"
                    class="btn btn-light btn-sm ">Cancelar</button>
            </div>
        </div>
    </div>

</form>