.button-add {
    background-color: #4545e8d3;
    text-align: center;
}

.button-add:hover {
    background-color: #7676f4d3;
}

.div-bg {
    /* background-color: rgb(219, 227, 250, 0.8); */
    border-radius: 1rem;
    /* box-shadow: 10px 10px 3px rgb(188, 189, 189); */

}