<xng-breadcrumb [separator]="iconTemplate"></xng-breadcrumb>
<ng-template #iconTemplate>
    <i class="fa-solid fa-chevron-right fa-sm"></i>
</ng-template>

<div class="container w-100 mt-4">

    <section class="w-100">
            <h3 class="row mb-3 h3"
                style="font-family: 'Roboto', sans-serif; color: #333; border-bottom: 2px solid #ccc; padding-bottom: 5px;">
                Órdenes de compra</h3>
                <div class="row">
                    <div class="col-md-6 d-flex align-items-center">
                        <div class="form-check form-switch">
                            <label *ngIf="!showCanceled" class="form-check-label" for="switch">Ver canceladas</label>
                            <input class="form-check-input" type="checkbox" id="switch" [(ngModel)]="showCanceled">
                        </div>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end">
                        <button class=" button-add btn text-center btn-sm text-white" routerLink="/orders/create">Agregar
                            <i class="fa-solid fa-plus fa-sm"></i></button>
                    </div>
                </div>

        <table class="table mt-3 border">
            <thead class="row-12">
                <tr>
                    <th class="col-1"><strong>Nro</strong></th>
                    <th class="col-2">Fecha emisión</th>
                    <th class="col-2">Fecha entrega</th>
                    <th class="col-2">Proveedor</th>
                    <th class="col-2">Total</th>
                    <th class="col-1">Estado</th>
                    <th class="col-1">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of (orderList | activeOrder: showCanceled | sortOrdersByNumber)" id="order-table-container" class="row-12 align-middle">
                    <td class="col-1 border-bottom"><strong>#{{order.num_order}}</strong></td>
                    <td class="col-2 border-bottom ">{{order.created_at | date: "dd/MM/yyy"}}</td>
                    <td class="col-2 border-bottom ">{{order.deadline | date: "dd/MM/yyy"}}</td>
                    <td class="col-2 border-bottom ">{{order.supplier_name}}</td>
                    <td class="col-auto border-bottom ">{{order.total | currency:'$'}}</td>
                    <td class="col-1 border-bottom ">{{order.canceled | orderStatus}}</td>
                    <td class="col-auto d-flex align-items-center justify-content-end border-bottom" style="height: 72px;">
                        <button class="btn btn-sm me-2 button-circle button-circle-detail" id="detail-button{{order.id}}"
                            routerLink="detail/{{order.id}}" data-toggle="tooltip" data-placement="top" title="Detalle">
                            <i class="fa-solid fa-eye fa-sm d-flex align-content-center justify-content-center"></i>
                        </button>
                        <button *ngIf="!showCanceled" class="btn text-white me-2 btn-sm button-circle button-circle-delete" data-toggle="tooltip" data-placement="top" title="Cancelar"
                            (click)="cancel(order)">
                            <i class="fa-solid fa-ban fa-xs d-flex  align-content-center justify-content-center"></i>
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>
    </section>
</div>