.button-add {
    background-color: #4545e8d3;
}

.button-add:hover {
    background-color: #7676f4d3;
}


table th {
    background-color: #6e6ef4d3;
    color: white;
    font-weight: 600;
}

.button-circle {
    height: 2rem;
    width: 2rem;
    color: rgb(255, 255, 255);  
    border-radius: 50%;
}

.button-circle-detail{
    background-color: rgba(177, 177, 177, 0.916);
}

.button-circle-delete{
    background-color: rgb(239, 88, 88);
}

.custom-input::placeholder {
    color: #8b8a8a;
    font-weight: 3400;
    font-size: 0.91em;
}
