<div class="container w-75 d-flex align-items-center">

    <section class="order-container bg-light  border w-100 mb-4 ">
        <div class="d-flex justify-content-center align-items-baseline mt-4  ">
            <h2 class="order-info-h2 mb-3">ÓRDEN DE COMPRA</h2>
            <h4 class="order-number ms-4">#{{ order.num_order }}</h4>
        </div>

        <div class=" p-3">
            <h5 class="supplier-name">{{ order.supplier_name }}</h5>
            <h3 class="supplier-cuit mb-3"><strong>cuit: </strong>{{ order.supplier_cuit }}</h3>
            <div class=" mt-2">
                <p class="order-info"><strong>Fecha emisión: </strong>{{ order.created_at | date:'dd/MM/yyyy' }}</p>
                <p class="order-info"><strong>Fecha entrega estimada: </strong>{{ order.deadline | date:'dd/MM/yyyy' }}
                </p>
                <p class="order-info"><strong>Información adicional: </strong>{{ order.description }}</p>
            </div>
        </div>


        <table class="table mt-3 text-center ">
            <thead class="row-12">
                <tr class="">
                    <th class="col-1"></th>
                    <th class="col-auto">Producto</th>
                    <th class="col-auto">Precio Unitario</th>
                    <th class="col-2">Cantidad</th>
                    <th class="col-2">Subtotal</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item of order.itemsDTO" class="row-12 align-middle">
                    <td class="col-1 tdImg">
                        <div class="imgContainer">
                            <img src="{{item.product.image}}" (error)="cambiarImagen($event)" />
                        </div>
                    </td>
                    <td class="col-auto border-bottom ">{{ item.product.name }} <a type="button"
                            class="btn-lg btn-outline-light " ngbPopover="{{ item.product.description}}"
                            triggers="mouseenter:mouseleave" popoverTitle="Descripción">
                            <i class="fa-solid fa-circle-exclamation" style="color: #cbcaca;"></i>
                        </a>
                    </td>

                    <td class="col-auto border-bottom ">{{ item.product.price | currency:'$'}}</td>
                    <td class="col-2 border-bottom ">{{ item.amount}}</td>
                    <td class="col-2 ">{{ item.total | currency:'$'}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-start fs-5"><strong>Total:</strong></td>
                    <td id="total-carrito"><strong>{{order.total | currency:'$'}}</strong></td>
                </tr>
            </tfoot>
        </table>
    </section>
    
</div>
<div class="container w-75 d-flex  align-items-center">
    <button class="btn btn-back btn-sm " (click)="goBack()">Volver</button>
</div>