<div class="w-100 d-flex align-items-center mb-5">

    <section class="w-100 mt-4  ">
        <div>
            <h3 class="h3 fw-light  ">Nro. órden: #{{ order.num_order }}</h3>
            <p><strong>Proveedor: </strong>{{order.supplier.business_name}}</p>
            <p>Fecha creación: {{order.issue_date | date:'dd/MM/yyyy'}}</p>
            <p>Fecha entrega estimada: {{order.deadline| date:'dd/MM/yyyy'}}</p>
        </div>
        <table class=" table text-center ">
            <thead>
                <tr class="">
                    <th scope="col">Img</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Precio Unitario</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Subtotal</th>
                </tr>
            </thead>

            <tbody class="align-items-center text-center ">
                <tr *ngFor="let item of order.items">
                    <td class="tdImg">
                        <div class="imgContainer">
                            <img src="{{item.product.image}}" (error)="cambiarImagen($event)" />
                        </div>
                    </td>
                    <td class="">{{ item.product.name }}</td>
                    <td><a type="button" class="btn btn-outline-secondary"
                        ngbPopover="{{ item.product.description}}" triggers="mouseenter:mouseleave"
                        popoverTitle="Pop title">
                        Ver...
                    </a></td>
                    <td>{{ item.product.price | currency:'$'}}</td>
                    <td>{{ item.amount}}</td>
                    <td>{{ item.total | currency:'$'}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" class="text-start fs-4 fw-light "><strong>Total:</strong></td>
                    <td id="total-carrito">{{order.total | currency:'$'}}</td>
                </tr>
            </tfoot>
        </table>
        <button class="btn btn-primary mt-3" (click)="goBack()">Volver</button>
    </section>
</div>