<div class="container w-75 d-flex align-items-center mb-5">

    <section class="order-container w-100 mt-4  ">
        <div class="d-flex justify-content-center align-items-baseline  ">
            <h2 class="h2 order-info-h2 mb-3">ÓRDEN DE COMPRA</h2>
            <h4 class="order-number ms-4">#{{ order.num_order }}</h4>
        </div>
        <h5 class="row justify-content-center align-content-center supplier-name">{{ order.supplier_name }}</h5>
        <h3 class="row justify-content-center align-content-center supplier-cuit ">{{ order.supplier_cuit }}</h3>
        <div class=" p-3 mb-4 mt-4">
            <p class="order-info"><strong>Fecha creación: </strong>{{ order.created_at | date:'dd/MM/yyyy' }}</p>
            <p class="order-info"><strong>Fecha entrega estimada: </strong>{{ order.deadline | date:'dd/MM/yyyy' }}</p>
            <p class="order-info"><strong>Información adicional: </strong>{{ order.description }}</p>
        </div>



        <table class="table mt-3 text-center ">
            <thead class="row-12">
                <tr class="">
                    <th class="col-1"></th>
                    <th class="col-auto">Producto</th>
                    <th class="col-auto">Precio Unitario</th>
                    <th class="col-2">Cantidad</th>
                    <th class="col-2">Subtotal</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item of order.itemsDTO" class="row-12 align-middle">
                    <td class="col-1 tdImg">
                        <div class="imgContainer">
                            <img src="{{item.product.image}}" (error)="cambiarImagen($event)" />
                        </div>
                    </td>
                    <td class="col-auto border-bottom ">{{ item.product.name }} <a type="button"
                            class="btn-lg btn-outline-light " ngbPopover="{{ item.product.description}}"
                            triggers="mouseenter:mouseleave" popoverTitle="Descripción">
                            <i class="fa-solid fa-circle-exclamation" style="color: #cbcaca;"></i>
                        </a>
                    </td>

                    <td class="col-auto border-bottom ">{{ item.product.price | currency:'$'}}</td>
                    <td class="col-2 border-bottom ">{{ item.amount}}</td>
                    <td class="col-2 ">{{ item.total | currency:'$'}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-start fs-5"><strong>Total:</strong></td>
                    <td id="total-carrito"><strong>{{order.total | currency:'$'}}</strong></td>
                </tr>
            </tfoot>
        </table>
        <button class="btn btn-back mt-3" (click)="goBack()">Volver</button>
    </section>

</div>