<footer id="bg-text-footer" class="row text-center d-flex  justify-content-center ">
    <div class="col-6 d-flex justify-content-center align-items-center w-50">

        <a class="btn  btn-floating btn-sm m-1" href="https://www.linkedin.com/in/luciana-chaparro-39521221a/"
            role="button"><i class="fab fa-linkedin-in"></i></a>
        <a class=" btn  btn-floating btn-sm m-1" href="https://github.com/luciana87" role="button"><i
                class="fab fa-github"></i></a>
    </div>

    <div class="col-6 texto text-center mt-3 ">
        <p>Luciana Chaparro © 2023 Copyright</p>
    </div>
</footer>