#bg-text-footer {
    background-color: #dbe3fa ;
}

footer div a {
    color: #211ca1;
    border-color: #211ca1;
}

footer div a:hover {
    /* color: #7a425b; */
    color: #6474e7;
}

.texto {
    color: #211ca1;
    font-size: 1em;
}

.img-fluid {
    color: ff8a80;
}
