<section class="container w-100">

    <div class="m-3 mt-5 d-flex justify-content-between ">
        <h4 class="h4">Proveedores</h4>
        <button class="button-add btn text-center btn-sm text-white" routerLink="/form-supplier">Agregar <i class="fa-solid fa-plus fa-sm"></i></button>
    </div>

    <table class="table mt-3 border">
        <thead class="row-12">
            <tr>
                <th class="col-2">Código</th>
                <th class="col-2">Razón Social</th>
                <th class="col-4">Información</th>
                <th class="col-auto">Personal de Contacto</th>
                <th class="col-auto">Acciones</th>
            </tr>
        </thead>
        <tbody *ngFor="let supplier of supplierList" id="supplier-table-container" class="row-12 align-middle">
            <td class="col" class="border-bottom "><strong class="bg-light ">{{ supplier.code }}</strong></td>
            <td class="col border-bottom">{{ supplier.business_name }}</td>
            <td class="col border-bottom ">
                <ul class="bg-light ">
                    <li class="li-decoration">{{ supplier.website }}</li>
                    <li class="li-decoration">{{ supplier.phone_number }} </li>
                    <li class="li-decoration">{{ supplier.email}}</li>
                </ul>
            </td>
            <td class="col border-bottom ">{{ supplier.contact.name }} {{ supplier.contact.lastname }}</td>
            <td scope="d-flex justify-content-end me-2" class="col border-bottom">
                <button class="btn text-white me-2 btn-sm button-circle" style="background-color: rgba(67, 200, 125, 0.999); color: rgb(255, 255, 255); border-radius: 50%;" id="edit-button{{ supplier.code }}" routerLink="/form-supplier/{{supplier.id}}"><i class="fa-regular fa-pen-to-square fa-sm d-flex align-content-center justify-content-center"></i></button>
                <button class="btn text-white me-2 btn-sm button-circle" style="background-color: rgb(239, 88, 88); color: rgb(255, 255, 255); border-radius: 50%;"  (click)="delete(supplier)"><i class="fa-regular fa-trash-can fa-sm d-flex align-content-center justify-content-center"></i></button>
                <button class="btn me-2 btn-sm button-circle" style="background-color: rgba(143, 144, 140, 0.952); color: rgb(255, 255, 255);  border-radius: 50%;" routerLink="/detail-supplier/{{supplier.id}}"><i class="fa-solid fa-eye fa-sm d-flex align-content-center justify-content-center"></i></button>
                <!-- <button class="btn btn-outline-warning text-dark btn-sm" routerLink="/detail-supplier/{{supplier.id}}"><i class="fa-solid fa-eye fa-xs"></i></button> -->
            </td>
        </tbody>
    </table>

</section>