<section class="container w-100">

    <div class="m-3 mt-5 d-flex justify-content-between ">
        <h4 class="h4">Proveedores</h4>
        <button class="btn text-center btn-sm bg-success text-white" routerLink="/form-supplier">Agregar <i
                class="fa-solid fa-plus fa-xs"></i></button>
    </div>

    <table class="table mt-3">
        <thead class="">
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Razón Social</th>
                <th scope="col">Información</th>
                <th scope="col">Contacto</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody *ngFor="let supplier of supplierList" id="supplier-table-container" class="align-middle">
            <td scope="row" class="border-bottom">{{ supplier.code }}</td>
            <td class="border-bottom py-2">{{ supplier.business_name }}</td>
            <td class="border-bottom py-2">{{ supplier.website }} | {{supplier.phone_number}} | {{ supplier.email}}</td>
            <td class="border-bottom py-2">{{ supplier.contact.name }} {{ supplier.contact.lastname }}</td>
            <td class="d-flex justify-content-end me-2  ">
                <button class="btn bg-success text-white me-2 btn-sm" id="edit-button{{ supplier.code }}" routerLink="/form-supplier/{{supplier.id}}"><i class="fa-regular fa-pen-to-square fa-sm"></i></button>
                <button class="btn bg-danger text-white me-2 btn-sm" (click)="delete(supplier)"><i class="fa-regular fa-trash-can fa-sm"></i></button>
                <button class="btn btn-outline-warning text-dark btn-sm" routerLink="/detail-supplier/{{supplier.id}}">Ver detalle</button>
            </td>
        </tbody>
    </table>

</section>