.tdImg {
    width: 5vw;
}
.imgContainer {
    width: 25vw;
    height: 25vw;
    overflow: hidden;
    border-radius: 5px;
}
img {
    width: 25vw;
    object-fit: cover;
}

.button-back {
    background-color: #4545e8d3;
}