<xng-breadcrumb [separator]="iconTemplate"></xng-breadcrumb>
<ng-template #iconTemplate>
    <i class="fa-solid fa-chevron-right fa-sm"></i>
</ng-template>

<section class="section-detail container p-0 d-flex align-items-center w-75 bg-light ">

    <div class="col-6 imgContainer">
        <img src="{{product.image}}" (error)="cambiarImagen($event)" class="img-fluid" />
    </div>

    <div class="col-6 p-3">
        <h2 class=" mt-2"><strong>{{product.name}}</strong></h2>
        <h3 class="mb-2">{{product.price | currency: '$'}}</h3>
        <p class="description lead">{{ product.description }}</p>
        <div class="d-flex ">
            <p class="lead  me-4"><strong>Proveedor: </strong>{{ product.supplier.businessName }}</p>
            <p class="lead "><strong>Categoría: </strong>{{ product.category.name }}</p>
        </div>

    </div>



</section>
<div class="container mt-4 d-flex align-items-center w-75">
    <button class="btn-back btn" (click)="goBack()">Volver</button>
</div>