.button-2 {
    /* background-color: #ff8a80; */
    /* background-color:  #4343eb ; */
    /* background-color: #ec8e8d; */
    border-radius: 8px;
    border-color: #f85a4b;
    border-width: 1px;
    border-style: solid;
    color: #ff8277;
    cursor: pointer;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

.div-box {
    background-color: rgb(42, 40, 40);

}

.button-dropdown{
    color: #ff8277;
    background-color:rgb(42, 40, 40);
}

.button-dropdown:hover{
    color: #fbb8b2;
}

.bg-navbar {
    /* background-color: #dbe3fa   ; */
    /* background-color: rgb(219, 227, 250); */
    background-color: rgb(42, 40, 40);
}

.btn-logout{
    border-color: rgb(67, 67, 251);
    color: #5d5dfb;
    border-width: 2px;
    border-style: solid;
    height: 4vh;
}

.btn-logout-dropdown:hover{
    color: #b0b0f3;
}

.div-btn{
    padding: 0 2rem 0 0;
}

.button-mr{
    margin-right: 0.5rem;
}

.button-texto:hover {
    color:  #fbb8b2;
    border-color: #ff8a80;

}

.btn-logout-text:hover{
    color: #b0b0f3;
    border-color: #a9a9ff;

}
