<nav class="bg-navbar navbar navbar-expand-lg">
    <div class="w-50">
        <a class="ms-4 navbar-brand d-flex align-items-center " href="#"><img class="img-fluid " src="../../../../assets/img/supplier_logo_color.png"
                alt="Logo" width="8%" height="5%"></a>
    </div>
    <div class="div-btn w-50 d-flex justify-content-end">
        <ul class="navbar-nav d-flex justify-content-end ">
            <li class="nav-item">
                <div class="col">
                    <div>
                        <button class="button-2 btn btn-sm text-uppercase button-mr button-texto" routerLink="">Home</button>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="ms-2">
                    <div ngbDropdown>
                        <button class="button-2 btn btn-sm  btn-floating button-mr button-texto" id="gfg" ngbDropdownToggle>Productos</button>
                        <div class="div-box" ngbDropdownMenu="gfg">
                            <button class="button-dropdown button-bg" ngbDropdownItem routerLink="/product-list">Listar productos</button>
                            <button class="button-dropdown button-bg" ngbDropdownItem routerLink="/form-product">Nuevo producto</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="ms-2">
                    <div ngbDropdown>
                        <button class="button-2 btn btn-sm button-mr button-texto" id="gfg" ngbDropdownToggle>Proveedores</button>
                        <div class="div-box" ngbDropdownMenu="gfg">
                            <button class="button-dropdown" ngbDropdownItem routerLink="/supplier-list">Listar proveedores</button>
                            <button class="button-dropdown" ngbDropdownItem routerLink="/form-supplier">Nuevo proveedor</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="ms-2">
                    <div ngbDropdown>
                        <button class="button-2 btn btn-sm button-mr button-texto" id="gfg" ngbDropdownToggle>Órden de
                            compra</button>
                        <div class="div-box " ngbDropdownMenu="gfg">
                            <button class="button-dropdown" ngbDropdownItem routerLink="/purchase-order-list">Listar órdenes</button>
                            <button class="button-dropdown" ngbDropdownItem routerLink="/form-purchase-order">Nuevo órden</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="ms-2 me-2">
                    <div ngbDropdown>
                        <button class="button-2 btn btn-sm button-mr button-texto" id="gfg" ngbDropdownToggle>Configuración</button>
                        <div class="div-box " ngbDropdownMenu="gfg">
                            <button class="button-dropdown" ngbDropdownItem routerLink="/form-category">Categorías</button>
                            <button class="button-dropdown" ngbDropdownItem routerLink="/category-list">Rubros</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <button class="d-flex button-2 btn-logout btn btn-logout-text" *ngIf="isLoggedIn" (click)="onLogout()" routerLink="/login" data-toggle="tooltip" data-placement="top" title="Cerrar sesión"><i class="fa-solid fa-power-off fa-sm align-self-center "></i></button>
            </li>
        </ul>
    </div>
</nav>