<nav class="bg-navbar navbar navbar-expand-lg ">
    <div class="w-50">
        <a class="ms-4 navbar-brand d-flex align-items-center " href="#"><img class="img-fluid " src="../../../../assets/img/logo6_azul.png"
                alt="Logo" width="12%" height="12%"></a>
    </div>
    <div class="w-50">
        <ul class="navbar-nav d-flex justify-content-end ">
            <li class="nav-item ">
                <div class="col">
                    <div>
                        <button class="button-2 btn btn-sm text-uppercase" routerLink="">Home</button>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="ms-2">
                    <div ngbDropdown>
                        <button class="button-2 btn btn-xs " id="gfg" ngbDropdownToggle>Productos</button>
                        <div ngbDropdownMenu="gfg">
                            <button ngbDropdownItem routerLink="/product-list">Listado de productos</button>
                            <button ngbDropdownItem routerLink="/form-product">Agregar producto</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="ms-2">
                    <div ngbDropdown>
                        <button class="button-2 btn btn-xs " id="gfg" ngbDropdownToggle>Proveedores</button>
                        <div ngbDropdownMenu="gfg">
                            <button ngbDropdownItem routerLink="/supplier-list">Listado de proveedores</button>
                            <button ngbDropdownItem routerLink="/form-supplier">Agregar proveedor</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="ms-2 me-2">
                    <div ngbDropdown>
                        <button class="button-2 btn btn-xs " id="gfg" ngbDropdownToggle>Órden de
                            compra</button>
                        <div ngbDropdownMenu="gfg">
                            <button ngbDropdownItem routerLink="/purchase-order-list">Listado de órdenes de
                                compra</button>
                            <button ngbDropdownItem routerLink="/form-purchase-order">Agregar órden de compra</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <button class="button-circle button-2 btn btn-xs " *ngIf="isLoggedIn" (click)="onLogout()" routerLink="/login"><i class="fa-solid fa-power-off"></i></button>
            </li>
        </ul>
    </div>
</nav>