.button-2 {
    /* background-color: #ff8a80; */
    /* background-color:  #4343eb ; */
    /* background-color: #ec8e8d; */
    border-radius: 8px;
    border-color: #fff;
    border-width: 1px;
    border-style: solid;
    color: #fff;
    cursor: pointer;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

.div-box {
    background-color: #05054c;

}

.button-dropdown{
    color: #fff;
    background-color:#05054c;
}

.button-dropdown:hover{
    color: #53aae3;
}

.bg-navbar {
    background-color: #05054c; 
}

.btn-logout{
    border-color: #9ad7ff;
    color: #9ad7ff;
    border-width: 2px;
    border-style: solid;
    height: 4vh;
}

.btn-logout-dropdown:hover{
    color: #b0b0f3;
}

.div-btn{
    padding: 0 2rem 0 0;
}

.button-mr{
    margin-right: 0.5rem;
}

.button-texto:hover {
    color:  #53aae3;
    border-color: #53aae3;

}

.btn-logout-text:hover{
    color: #b0b0f3;
    border-color: #a9a9ff;

}
