<nav class="bg-navbar navbar navbar-expand-lg bg-body-tertiary">
    <div class="w-50">
            <!-- <img src="../../../assets/img/logo3.png" alt="Logo" width="15%" height="15%"> -->
            <a class="ms-4 navbar-brand d-flex align-items-center " href="#"><img src="../../../assets/img/logo3.png" alt="Logo" width="12%" height="12%"></a>
    </div>
    <div class="w-50">
        <ul class="navbar-nav m-4 justify-content-end ">
            <li class="nav-item">
                <a class="nav-link text-uppercase" routerLink="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase" routerLink="product-list" >Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase" routerLink="/supplier-list" >Proveedores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase" routerLink="purchase-order-list" >Compras</a>
            </li>
        </ul>
    </div>
</nav>