<div class="container">

    <footer id="bg-text-footer" class=" text-center  d-flex flex-column ">

        <div class="container p-4 pb-0">
            <section class="texto mb-4">

                <a class="btn btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-instagram"></i></a>
                <a class="btn  btn-floating m-1" href="https://www.linkedin.com/in/luciana-chaparro-39521221a/" role="button"><i
                        class="fab fa-linkedin-in"></i></a>
                <a class=" btn  btn-floating m-1" href="https://github.com/luciana87" role="button"><i
                        class="fab fa-github"></i></a>

            </section>
        </div>

        <div  class="texto text-center text-uppercase fs-5 p-3 d-flex justify-content-center   ">
            <p class="me-5 ">© 2020 Copyright</p>
            <p>Luciana Chaparro</p>
        </div>
    </footer>

</div>