#bg-text-footer {
    background-color: #542f4dd3;
}

footer div section a {
    color:#f8beaf;
    border-color: #f8beaf;
}
footer div section a:hover {
    color: #7a425b;
}

.texto {
    color:#f8beaf;
}