#div-bg {
    /* background-color: rgb(204, 180, 236, 0.6); */
    background-color: rgb(219, 227, 250, 0.8);
    border-radius: 1rem;
    box-shadow: 10px 10px 5px rgb(151, 153, 153);

}

.button-login {
    background-color: #4545e8d3;
}

.button-login:hover {
    background-color: #7676f4d3;
}