<section class="container mt-5">
    <div class="row align-items-center row ">
        <div class="col-6 text-md-start text-center">
            <h4 class="fw-bold mb-3">Sistema de Gestión Compras</h4>
            <h1 class="hero-title">Software pensado para automatizar y optimizar.</h1>
            <p class="mb-4 fw-medium text-start  ">Esta aplicación de gestión de compras es una herramienta pensada para
                automatizar y optimizar el proceso de adquisición de bienes y servicios en una empresa.</p>
            <p class="mb-4 fw-medium text-start  ">El sistema permite:</p>
            <ul>
                <li>Dar de alta, modificar y/o eliminar proveedores.</li>
                <li> Crear, modificar y eliminar productos y o servicios, con su respectiva
                    información.</li>
                <li>Generar órdenes de compra para un proveedor con sus respectivos productos.</li>
            </ul>
        </div>
        <div class="col-6 w-50">
            <img class="w-100" src="../../../../assets/img/img-removebg-preview.png" alt="personas" />
            
        </div>
    </div>
</section>